@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies Service</h1>
    <p class="lead">Welcome to out movie service. Here you can order movies and watch them and share your opinions about them.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ordering</h2>
        <p>
            You can order latest movies at our service.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Sharing opinions</h2>
        <p>View other people's opinions about the movies and then decide if you want to order them.</p>
    </div>
</div>